/LatihanOopJava/TerminalMonsterHunterGames/nbproject/private/
/LatihanOopJava/TerminalMonsterHunterGames/build/
/LatihanOopJava/RacingAdventureGamesFikri/nbproject/private/
/LatihanOopJava/RacingAdventureGamesFikri/build/
/LatihanOopJava/TokoATK/nbproject/private/
/LatihanOopJava/TokoATK/build/
/LatihanOopJava/StatistikaDasarOOP/nbproject/private/
/LatihanOopJava/StatistikaDasarOOP/build/
/LatihanOopJava/EnkapsulasiSetterGetter/nbproject/private/
/LatihanOopJava/EnkapsulasiSetterGetter/build/
/LatihanOopJava/StudiKasusOOPFikri/nbproject/private/
/LatihanOopJava/StudiKasusOOPFikri/build/
/SistemManajemenRumahSakit-JavaGUINetbeans-8.2-main/JavaAplikasi_v1.0/nbproject/private/
/SistemManajemenRumahSakit-JavaGUINetbeans-8.2-main/JavaAplikasi_v1.0/build/
/SistemManajemenRumahSakit-JavaGUINetbeans-8.2-main/JavaAplikasi_v1.0/dist/
/SistemManajemenRumahSakit-JavaGUINetbeans-8.2-main/SirusaJavaOOP2/nbproject/private/
/SistemManajemenRumahSakit-JavaGUINetbeans-8.2-main/SirusaJavaOOP2/build/
/LatihanOopJava/SIRUSA/nbproject/private/
/LatihanOopJava/SIRUSA/build/